<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>
<body>
    <section class="hero is-large is-info">
        <div class="hero-body">
          <p class="title">About Page</p>
          <p class="subtitle">this page should be accessible by everyone!</p>
        </div>
      </section>
</body>
</html>